* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  background-color: #2c2323;
  font-size: 16px;
}

button {
  background-color: aqua;
  border: none;
  outline: none;
  color: #2c4660;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

button:hover {
  background-color: #7db7c7;
}
